# vendor
node_modules/

#npm lock file
package-lock.json

# environment configs
.env
.env.*
!.env.defaults

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.history

# database dumps
*.dump

# compiled TS files
dist/**

# tests
coverage/
coverage-ts
coverage-system/

# macOS files
.DS_Store

# docker
volume
